
.custom-select {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

.select-header {
    background-color: #f5f5f5;
    padding: 5px;
}

.options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

body[data-theme="dark"] .select2-search--dropdown {
    background: #1d1d42ff;
}

body[data-theme="dark"] .select2-search__field {
    background: #1d1d42ff;
    color: white;
    border: none;
}

.form-group input[type="number"],
input[type="number"],
.form-group input[type="password"],
input[type="text"] {
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #637381;
    padding: 10px 15px;
    border-radius: 5px;
}

body[data-theme="dark"] .form-group input[type="number"],
body[data-theme="dark"] input[type="number"] {
    background: #1d1d42 !important;
    color: #97a2d2;
}

/* Hide the increase and decrease buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


td,
th {
    text-align: center
}
